@model ProjectAspNet.Models.LoginModel
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<div>
    <form method="post" asp-action="Register" asp-controller="Account">
        <div>
            <label asp-for="Username">Username:</label>
            <input type="text" asp-for="Username" />
        </div>
        <div>
            <label asp-for="Password">Password</label>
            <input type="password" asp-for="Password" />
        </div>
        <input type="submit" value="Register" />
    </form>
</div>